[Unit]
Description=Zero-Downtime Linux Update Orchestrator
Documentation=https://github.com/amosproj/amos2026ss01-zero-downtime-linux-updates
# maybe makes problems when not using cloud-init??
# https://docs.cloud-init.io/en/21.2/topics/boot.html
After=network-online.target cloud-final.service
Wants=network-online.target cloud-final.service


[Service]
Type=simple
ExecStart=/usr/local/bin/amos-orchestrator --config /etc/amos/config.toml
Restart=on-failure
RestartSec=5s
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
