#frontend http-in
#    bind *:80
#    http-request redirect scheme https code 301

frontend https-in
    bind *:80
#    bind *:443 ssl crt /etc/haproxy/certs/cert.pem

    acl is_run1 path_beg /run1
    acl is_run2 path_beg /run2
    acl is_run3 path_beg /run3

    use_backend be_run1 if is_run1
    use_backend be_run2 if is_run2
    use_backend be_run3 if is_run3

    default_backend invalid_route_backend

backend be_run1
    http-request replace-path ^/run1(/.*)?$ \1
    server srv 127.0.0.1:8100 check

backend be_run2
    http-request replace-path ^/run2(/.*)?$ \1
    server srv 127.0.0.1:8200 check

backend be_run3
    http-request replace-path ^/run3(/.*)?$ \1
    server srv 127.0.0.1:8300 check

backend invalid_route_backend
    mode http
    http-request deny deny_status 402 content-type text/html lf-string "<h1>Nothing to see here :P</h1>"
